
.Rhistory
.Rhistory
.Rproj.user/C3A16CAC/sources/prop/7C4C7CFF
.Rproj.user/C3A16CAC/sources/prop/A7CA3F4F
.Rproj.user/C3A16CAC/sources/prop/8A8736B1
.Rproj.user/C3A16CAC/sources/s-A167E7A7/C37571AD-contents
.Rproj.user/C3A16CAC/sources/s-A167E7A7/lock_file
.Rproj.user/C3A16CAC/sources/s-C65779A/1ECA0F7B
.Rproj.user/C3A16CAC/sources/s-C65779A/3483E37F-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/E1A0D0E5
.Rproj.user/C3A16CAC/sources/s-C65779A/E1A0D0E5-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/D9668F56-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/BFA42529
.Rproj.user/C3A16CAC/sources/s-C65779A/B0C8B100
.Rproj.user/C3A16CAC/sources/s-C65779A/BFA42529-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/B0C8B100-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/A0F71CDA-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/A0F71CDA
.Rproj.user/C3A16CAC/sources/s-C65779A/9E01D678-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/9BC270D5-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/9E01D678
.Rproj.user/C3A16CAC/sources/s-C65779A/E844CE7D
.Rproj.user/C3A16CAC/sources/s-C65779A/9BC270D5
.Rproj.user/C3A16CAC/sources/s-C65779A/85ADEBAA-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/85ADEBAA
.Rproj.user/C3A16CAC/sources/s-C65779A/71998402-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/71998402
.Rproj.user/C3A16CAC/sources/s-C65779A/3B5E22AD-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/1ECA0F7B-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/E844CE7D-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/7D6D2493-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/F0AF0D64
.Rproj.user/C3A16CAC/sources/s-C65779A/FCE94E8B
.Rproj.user/C3A16CAC/sources/s-C65779A/F0AF0D64-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/FCE94E8B-contents
.Rproj.user/C3A16CAC/sources/s-C65779A/lock_file
.Rproj.user/C3A16CAC/sources/s-C65779A/7D6D2493
.Rproj.user/C3A16CAC/sources/prop/7C4C7CFF
.Rproj.user/C3A16CAC/sources/prop/7C4C7CFF
.Rproj.user/C3A16CAC/sources/prop/7C4C7CFF
.Rproj.user/C3A16CAC/sources/s-A167E7A7/C37571AD
.Rproj.user/C3A16CAC/sources/s-A167E7A7/C37571AD
.Rproj.user/C3A16CAC/sources/s-A167E7A7/C37571AD-contents
.Rproj.user/C3A16CAC/sources/s-A167E7A7/lock_file
